body{
    background-image:url(footballcopy.jpg);
    background-size:100%100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
h1{
    color: rgb(148, 0, 25);
}
input{
    color:rgb(97, 97, 252)
}
.div{
    color: blue;
}
center{
    right: 25px;
}
