p{
    font-size: 25px;
    word-spacing: 7px;
    line-height: 30px;
    text-indent: 100px;
    text-align:justify ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    text-decoration: underline;
    text-transform: uppercase;
    word-spacing: 10px;
    letter-spacing: 3px;
    font-style: italic;
}
body{
    color: white;
    font-style: italic;
    background-image:url(football.jpg); 
    background-size:100%100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}